/* This is where you will write your CSS */

* {
  box-sizing: border-box;
}

body {
  color: rgb(222, 222, 222);
}

h1 {
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
  background-color: #6B1313;
}

main {
  background-color: rgb(170, 30, 30);
}

h2 {
  font-size: 1.5rem;
  padding: 1rem;
  padding-bottom: 0;
  text-decoration: underline;
}

p {
  padding: 1rem;
}

ul {
  padding: 1rem;
  margin-left: 1rem;
}

ul li {
  list-style-type: disc;
  padding: .2rem;
}

section {
  width: 24%;
}

section ol {
  padding: 1rem;
  margin-left: 1rem;
  text-align: center;
}

section li {
  list-style-type: number;
  padding: .2rem;
}

footer p {
  font-size: .7rem;
  text-align: center;
}

footer {
  background-color: #911A1A;
}
